<!-- <!doctype html>
<html>
<head>
  <title>User profile</title>
</head>

<body>
  <h1 class="user_profile" style="font-size: 3rem; font-weight: bold; white-space: nowrap;">
    Hi {{ session["user"] }}!
  </h1>
</body>
</html>
<body style="background-color: #bea5a5;">
</body>
<br>

<button type="button" class="btn btn-primary">
    Edit profile

</button>
<br><br>
 -->



<!-- 

<!DOCTYPE html>
<html>
<title>User profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body style="background-image: url(); background-color: #000000; color: black;">
</body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body> -->
<!-- 
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<h2></h2>
<p>Click on the element below to open the side navigation menu.</p>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
    -->



<!-- 
<body class="w3-light-grey">
   < style="background-color: #bea5a5;"> --> 
<!-- Page Container <div class="w3-content w3-margin-top" style="max-width:1400px;">  -->

  <!-- The Grid -->
   <!-- <div class="w3-row-padding">
   -->
    <!-- Left Column -->
     <!-- <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="" style="width:100%" alt="">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <body>
              <h3> 
                Hello {{ session["user"] }}!
              </h3>
            </body>
          </div>
        </div>
        <div class="w3-container">
          
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: bob@bob</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone number: (123)456-7891</p>
          <hr>

          <form action="/sign_up">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Edit profile
            </button></form>
          <form action="/maps">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create events
            </button></form>
            <form action="/maps">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Check/rsvp events
              </button></form>
          <p> </p>
      
          <body> 
            
          </body>
          <br>
        </div>
      </div><br> --> 

    <!-- End Left Column -->
    <!-- </div> -->

<!--     
    <div class="w3-twothird">
     
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class=""></i>Events you're attending</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Volleyball</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2021 - <span class="w3-tag w3-teal w3-round"></span></h6>
          <p>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Dancing</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2021</h6>
          <p></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Pool party</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2021</h6>
          <p> </p><br>
        </div>
      </div> -->
     
    <!-- End Right Column -->
    <!-- </div> -->
    
  <!-- End Grid -->
  <!-- </div> -->
  
  <!-- End Page Container -->
<!-- </div> -->

     



<!-- <form action="/logout">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Log out
  </button>

</body>

<body>

  
</body>
</html>   -->

 


<!DOCTYPE html>
<html>
<title>User Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Hi {{ session["user"] }}!</b></h1>
  <p> <span class="w3-tag"></span></p>
</header>


<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block">Home</a>
    </div>
    <div class="w3-col s3">
      <a href="#plans" class="w3-button w3-block">Contact</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block">About</a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block">Log Out</a>
    </div>
  </div>
</div>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">

    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border-radius: 50%;
}
</style>
</head>
<body>

<h2></h2>

<img src="https://www.kindpng.com/picc/m/164-1649662_woman-icon-circle-png-transparent-png.png" alt="Avatar" style="width:200px">

</body>
    
    
    
    <!-- <img src="https://www.kindpng.com/picc/m/164-1649662_woman-icon-circle-png-transparent-png.png" alt="User" style="width:20%"> -->
    <div class="w3-container">
      <h3><b>{{ session["user"] }}</b></h3>
      <h5> <span class="w3-opacity"></span></h5>
    </div>

    <div class="w3-container">
      <p>Info</p>
      <img src="https://cdn.onlinewebfonts.com/svg/img_1059.png" alt="Girl in a jacket" style="width:20px;height:20px;">123456789
     
      <div class="w3-container">
        <p></p>
        <img src="https://www.iconninja.com/files/251/835/636/black-email-icon.png" alt="Girl in a jacket" style="width:20px;height:20px;"> {{ email }}
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <form action="/sign_up">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>Edit Profile</b></button></form></p>
          
        
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b> </b> <span class="w3-tag"></span></span></p>
        </div>
      </div>
    </div>
  </div><hr>
  
  

  <!-- Blog entry -->
 
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<!-- <div class="w3-col l4">

  < Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Events you're attending</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://www.unionvilletimes.com/wp-content/uploads/2014/10/volleyball-300x298.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Volleyball</span><br>
        <span>Location: Las Vegas Date: 3/25/2021 Time: 2pm Limitations: Workout gear neccesary!</span>
      </li>
      
      <li class="w3-padding-16">
        <img src="http://www.thewhistlernews.com/wp-content/uploads/2012/08/IMG_0847.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Outdooor Concert</span><br>
        <span>Location: Las Vegas Date: 3/27/2021 Time: 7pm Limitations: Bring Mask!</span>
      </li> 
      <li class="w3-padding-16">
        <img src="https://i.pinimg.com/originals/3e/3f/06/3e3f06e73235242152b6b5857b1f6c2c.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">PotLuck Picnic</span><br>
        <span>Location: Las Vegas Date: 3/28/2021 Time: noon Limitations: Bring Food!</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://www.hdnicewallpapers.com/Walls/Big/Cat/Beautiful_Angry_Kitten.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Cat Cafe</span><br>
        <span>Location: Las Vegas Date: 3/20/2021 Time: noon Limitations: No dogs!</span>
      </li> 
      
           <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://weneedfun.com/wp-content/uploads/2015/10/Beautiful-Food-Photos-8.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Dinner</span><br>
        <span>Location: Las Vegas Date: 3/29/2021 Time: 7pm Limitations: bring your stomach!</span>
      </li>           


    </ul>
  </div>
  <hr> 
  

  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Events you've created</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://www.unionvilletimes.com/wp-content/uploads/2014/10/volleyball-300x298.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Volleyball</span><br>
        <span>Location: Las Vegas Date: 3/25/2021 Time: 2pm Limitations: Workout gear neccesary!</span>
 
           <li class="w3-padding-16">
          <img src="https://weneedfun.com/wp-content/uploads/2015/10/Beautiful-Food-Photos-8.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Dinner</span><br>
          <span>Location: Las Vegas Date: 3/29/2021 Time: 7pm Limitations: bring your stomach!</span> 
      
            
      
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
 

<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>View Map</h4>
    </div>
    <div class="w3-container w3-white">
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <form action="/maps">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>Create event</b></button></form></p>

<!-- 

          <!DOCTYPE html>
          <html>
            <head>
              <title>MAP </title>
              <h1>MAP</h1>
              <script src='./index.js.'></script></script>
              <style type="text/css">
                /* Always set the map height explicitly to define the size of the div
                 * element that contains the map. */
                #map {
                  height: 50%;
                  width: 40%;
                }
                
                /* Optional: Makes the sample page fill the window. */
                html,
                body {
                  height: 100%;
                  margin: 50;
                  padding: 0;
                }
              </style>
              <script>
                function initMap() {
                  // create a get request to a server route that gives us a list of event objects
                  // loop over each one with corresponding lat and lng for each event
                  // create a new marker depending on that lat/lng
                
                  const myLatLng1 = { lat: 36.063965, lng: -115.172241};
            const myLatLng2 = { lat: 36.147335, lng: -115.159708};
            const myLatLng3 = { lat: 36.103411, lng: -115.120877 };
            const myLatLng4 = { lat: 36.170700, lng: -115.144020 };
            const myLatLng5 = { lat: 36.151451, lng: -115.249032 };
            const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 4,
              center: myLatLng1,
            });
            console.log(myLatLng1)
            const marker1  = new google.maps.Marker({
              position: myLatLng1,
              map,
              title: "Cat Cafe",
           
           });
          new google.maps.Marker({
              position: myLatLng2,
              map,
              title: "Volleyball",
           
           });
           new google.maps.Marker({
              position: myLatLng3,
              map,
              title: "Dance Lesson",
           
           });
           new google.maps.Marker({
              position: myLatLng4,
              map,
              title: "Outdoor Concert",
           
           });
           new google.maps.Marker({
              position: myLatLng5,
              map,
              title: "Potluck Picnic",
           });
          
           
          }
            
          
          </script>
          </head>
          <body>
          <div id="map"></div> 
          
          <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
           <!-- <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0tLA9lQo38M9fY6ojgrImR4Lc0KjFZik&callback=initMap&libraries=&v=weekly"></script>
           -->
      
       
          
        
        </div>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>


<!-- <!DOCTYPE html>
<html>
  <head>
    <title>MAP </title> -->
   
<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->






</body>

<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
 
</footer>

</html>